:root {
	--background-primary: rgb(250, 247, 247);
	--highlight-primary: #00aeff;
	--font-secondary: white
}

.slideshow {
	width: 85vw;
	height: 80vh;

	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(0.9);

	/* background-image: url("../resources/graphics/Logo_Throbber_Opaque.gif"); */
	background-color: var(--background-primary);
	background-repeat: no-repeat;
	background-position: center center;
	box-shadow: 0 0 3px 4px #00000021;
	overflow: hidden;

	z-index: 3;
	opacity: 0;
	display: none;
	transform: translate(-50%, -50%) scale(0.9);
	transition: transform 0.5s ease-out, opacity 0.5s ease-out,
		width 0.3s ease-out, height 0.3s ease-out;
}

.slideshow_arrow {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%) scale(0);
	z-index: 1;
	user-select: none;

	font-size: 5vmin;
	text-align: center;

	display: grid;
	align-items: center;

	width: 5%;
	height: 30%;
	color: var(--highlight-primary);
	background-color: #11111112;
	text-shadow: var(--highlight-primary) 0 0 3px;

	transition: background 0.1s ease-out, color 0.1s linear, text-shadow 0.1s ease-out, transform 0.5s ease-out, box-shadow 0.1s ease-out, margin 0.1s ease-out;
}

.slideshow_arrow:hover {
	background-color: #000000DD;
	color: var(--font-secondary);
	text-shadow: var(--font-secondary) 0 0 10px;
}

.slideshow_arrow_left {
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}

.slideshow_arrow_left:hover {
	box-shadow: 4px 0 4px 0px #BFBFBF;
}

.slideshow_arrow_left:active {
	margin-left: 4px;
	box-shadow: none;
}

.slideshow_arrow_right {
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	right: 0;
}

.slideshow_arrow_right:hover {
	box-shadow: -4px 0 4px 0px #BFBFBF;
}

.slideshow_arrow_right:active {
	margin-right: 4px;
	box-shadow: none;
}

.slideshow_title {
	width: fit-content;
	height: 34px;

	position: absolute;
	left: 47px;
	top: -47px;

	color: var(--highlight-primary);
	background-color: #000000CC;
	padding: 13px 1% 0 1%;

	z-index: 3;
	overflow: hidden;
	white-space: nowrap;
	transition: top 0.5s ease-out;
}

.slideshow_close {
	width: 47px;
	height: 47px;

	position: absolute;
	left: 0;
	top: 0;
	user-select: none;
	background-color: var(--highlight-primary);
	text-shadow: var(--highlight-primary) 0 0 3px;

	display: grid;
	align-items: center;
	justify-items: center;
	font-size: 1.2em;

	transition: background-color 0.1s ease-out, font-size 0.1s ease-out;
	z-index: 1;
}

.slideshow_close:hover {
	background-color: #F7C100EE;
	text-shadow: var(--font-secondary) 0 0 10px;
	font-size: 1.5em;
}

.slideshow_close:active {
	font-size: 0.9em;
	background-color: #F7C100DD;
}

.slideshow_resize {
	position: absolute;
	right: 0;
	bottom: 0;

	background-color: var(--highlight-primary);

	cursor: pointer;
	user-select: none;
	z-index: 2;
}

.slideshow_progress {
	width: fit-content;
	width: -moz-fit-content;

	position: absolute;
	bottom: 1%;
	left: 46%;
	transform: translate(50%, 0);

	color: var(--highlight-primary);
	background-color: #000000cc;
	border: solid 1.5px black;
	border-radius: 3px;
	padding: 1%;
	text-align: center;
	font-weight: bold;

	z-index: 3;
}

.slide {
	width: 100%;
	height: 100%;
	border: 0;
	display: none;
	/* slideshow.js */
	position: absolute;
	transition: transform 1s cubic-bezier(.68, -0.55, .27, 1.55), opacity 1s cubic-bezier(.68, -0.55, .27, 1.55);
}

div.slide {
	padding: 70px;
}
